* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    background-color: var(--light-color);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p, figure{
    margin: 0;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo{
    width: 81px;
    height: 24px;
    flex-shrink: 0;
}

.btn{
    border: none;
    border-radius: 3px;
    outline: none;
    width: 185px;
    height: 50px;
    color: var(--light-color);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: var(--light-green-color);
}

.btn:hover, .btn:focus-visible{
    outline: 2px solid var(--dark-green-color);
    cursor: pointer;
}

@media (max-width: 992px){
    .container{
        padding: 0 16px;
    }

    .btn{
        width: 170px;
        height: 48px;
        font-size: 18px;
    }
}

@media (max-width: 576px){
    .container{
        padding: 0 12px;
    }

    .btn{
        width: 160px;
        height: 46px;
        font-size: 17px;
    }
}
