.story {
    width: 100%;
    min-height: 800px;
    background-color: var(--dark-green-color);
}

.story .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 200px 0 270px;
}

.story__content {
    color: var(--light-color);
}

.story__title {
    max-width: 580px;
    margin-bottom: 19px;
    font-size: 50px;
}

.story__desc {
    max-width: 550px;
    margin-bottom: 80px;
    font-size: 25px;
}

.story__content .btn {
    width: 240px;
    height: 65px;
}

.story__video-content {
    position: relative;
}

.story__preview {
    width: min(45vw, 790px);
    border-radius: 16px;
    height: auto;
    
}

.story__play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 73px;
    display: block;
    flex-shrink: 0;
    transform: translate(-50%, -50%);
}

@media (max-width: 1280px) {
    .story {
        min-height: auto;
    }

    .story .container {
        flex-direction: column;
        padding: 100px 0 170px;
    }

    .story__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .story__desc {
        margin-bottom: 40px;
    }

    .story__preview {
        width: min(70vw, 760px);
    }
}

@media (max-width: 992px) {
    .story .container {
        gap: 24px;
        padding: 90px 0 120px;
    }

    .story__title {
        max-width: 640px;
        font-size: 44px;
    }

    .story__desc {
        max-width: 620px;
        margin-bottom: 36px;
        font-size: 22px;
    }

    .story__preview {
        width: min(78vw, 680px);
    }
}

@media (max-width: 860px) {
    .story .container {
        padding: 80px 0 100px;
    }

    .story__preview {
        width: min(86vw, 620px);
    }
}

@media (max-width: 820px) {
    .story__content .btn {
        align-self: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .story {
        min-height: auto;
    }

    .story .container {
        flex-direction: column;
        padding: 50px 0 80px;
    }

    .story__title {
        max-width: 550px;
        margin-bottom: 19px;
        font-size: 40px;
    }

    .story__desc {
        max-width: 450px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .story__title {
        max-width: 100%;
        font-size: 34px;
    }

    .story__desc {
        max-width: 100%;
        margin-bottom: 28px;
        font-size: 18px;
    }

    .story .container {
        padding-inline: 30px;
    }

    .story__content .btn {
        width: 220px;
        height: 56px;
    }

    .story__preview {
        width: 100%;
    }

}

@media (max-width: 400px) {
    .story .container {
        padding: 40px 0 64px;
    }

        .story .container {
        padding-inline: 30px;
    }

    .story__title {
        font-size: 30px;
    }
}
